body {
  margin: 0px;
  overflow: hidden;
}

.counties {
  fill: aqua;
  stroke: black;
  stroke-width: 0.05px;
}

.counties:hover {
  fill: rgb(255, 0, 149);
}

/* 
.state-borders {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}  */
